@import "tailwindcss";

:root {
  --background: #faf6f1;
  --foreground: #171717;
  --grey: #c3bbb3;
  --hover: #e1dad1;
  --beige: #f5eee5;
  --brown: #9d8f83;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-myGrey: var(--grey);
  --color-myBeige: var(--beige);
  --color-hover: var(--hover);
  --color-brown: var(--brown);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf6f1;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--gt-america), Helvetica, Arial, sans-serif;
}

.px {
  padding-inline: 2rem;
}

.py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav-text {
  font-size: 1.25rem;
}

.caption {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0;
  color: var(--brown);
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.5;
  line-height: 120%;
  /* margin-bottom: 0.5rem; */
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

h5 {
  font-size: 0.85rem;
}

.recipe-name {
  font-size: 2rem;
  margin: 0;
}

.img-container {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  max-height: 17rem;
}

.img-container img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  min-height: 17rem;
}

a:hover img {
  transform: scale(1.1);
}

header {
  background-color: var(--background);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  overflow: visible;
}

@media (width >= 48rem) {
  .px {
    padding-inline: 3rem;
  }

  .py {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
