@import "tailwindcss";

:root {
  --background: #FAF6F1;
  --foreground: #171717;
  --grey: #A0A0A0;
  --hover: #E1DAD1;
  --beige: #F5EEE5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-myGrey: var(--grey);
  --color-myBeige: var(--beige);
  --color-hover: var(--hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAF6F1;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--gt-america), Helvetica, Arial, sans-serif;
}

.px {
  padding-inline: 5rem;
}

.py {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -1;
}

h2 {
  font-size: 1rem;
}
